<section class="vh-100 gradient-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-light" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-0">
            <h2 class="mb-2 text-black">Çalışan Sayfasına Hoşgeldiniz</h2>
            <br>
            <h4 class="mb-2 text-black">Sahip olduğunuz roller :</h4>
            <h6 class="mb-2">{{role}}</h6>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
